{{#if addNewQuestion}}
  <h1>New Question</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="content">Your Question:</label>
        {{input value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="author">Your Name:</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="notes">Category</label>
        {{input value=notes id="notes"}}
      </div>

      <button class ="but"{{action 'questionSave1'}}>Save</button>
    </form>
  </div>
{{else}}
<br>
  <button class="but" {{action 'questionFormShow'}}>Question</button>
{{/if}}
